.kui-dialog {
  position: absolute;
  top: 20px;
  z-index: 9;
  box-shadow: 0 3px 26px rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  display: none;
  background-color: #fff;
  margin-bottom: 30px;
}

.kui-dialog-close {
  width: 24px;
  height: 24px;
  top: -12px;
  right: -10px;
  text-indent: -999px;
  background: url(./bg_css.png);
  position: absolute;
  cursor: pointer;
}

.kui-dialog-close:hover {
  background-position-y: 24px;
}

.kui-dialog-title {
  font: 12px/1.11 Arial, Helvetica, STHeiti;
  line-height: 47px;
  color: #dbe0ee;
  font-size: 14px;
  text-indent: 10px;
  background: #8088a1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.kui-dialog-content {
  padding: 20px;
  word-break: break-all;
  overflow: auto;
}

.kui-dialog-footer {
  text-align: center;
  padding-bottom: 20px;
}

.kui-dialog-loading {
  width: 361px;
  height: 48px;
  font-family: STHeiti, "Microsoft Yahei", Helmet, Freesans, sans-serif;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 48px;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 1px #000;
  background: url(./loading.gif);
}
.kui-loading, .kui-confirm, .kui-alert {
  z-index: 11;
}

.kui-alert .kui-dialog-content, .kui-confirm .kui-dialog-content {
  text-align: center;
  font-size: 14px;
  color: #4a70b1;
}

.kui-dialog-confirm + .kui-dialog-cancel {
  margin-left: 20px;
}
